<%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %> <br> <br>

    <%= f.label :password %>
    <%= f.password_field :password %><br> <br>

    <%= link_to "(Forgot password bunch?!)", new_password_reset_path %><br>

    <%= f.label :remember_me do %>
        <%= f.check_box "remember_me"%> 
        <span>Remember me here</span><br>
    <% end %>
    <%= f.submit "Log in" %>
<% end %>
<p> Are you new here? <%= link_to "SignUp", signup_path %></p>



