<%# <%= link_to "Lost",  lost_path %1> %>

<h1> Books Requested</h1>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Book title</th>
            <th> Author </th>
        </tr>
        <%  @requests.each do |bid|  %>
            <tr>
                <td><%= bid.id %> </td>
                <td><%= bid.user.username %> </td>
                <td><%= bid.book.title %> </td>
                <td><%= bid.book.author %> </td>
                <td><%=  link_to "Release", release_path(bid_id: bid.id, 
                                                         status: "borrowed"),  class: "button" %>

        </tr>
    <% end %>
    </table>
    <h1> Books Out </h1>
    <table>

        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Book title</th>
            <th> Author </th>
            <th> Return date </th>
            <th> Charges<th>
        </tr>
        <%  @releases.each do |bid|  %>
            <tr>
                <td><%= bid.id %> </td>
                <td><%= bid.user.username %> </td>
                <td><%= bid.book.title %> </td>
                <td><%= bid.book.author %> </td>
                <td> <%= days_remaining(bid) unless bid.due_date.nil? %></td>
                <td> <%= form_tag %>
                <%= text_field_tag :Surcharge %>
             </td>
                <td><%= link_to "Return", bid,  method: :delete, data: 
                    {confirm: "Is the book really returned?"}, class: "button" %></td>

        </tr>
    <% end %>

    </table>
</div>
</div>

