<table>
    <h1> Lost </h1>
    <tr>
        <th>Title </th>
        <th>Author </th>
        <th>Lost By </th>
        <th>Charge </th>
        </tr>
        <tr>
            <% @lost.each do |lost| %>
                <td><%=lost.book.title %> </td>
                <td><%=lost.book.author %> </td>
            <td><%=lost.user.username %> </td>
            <%= form_tag %>
            <td><%= text_field :Charge, placeholder: "Charge" %> </td>
            <td> <%= link_to "Record", class: "button" %>
            <% end %>
           </form>
            </tr>
            </table>
