<hr>
<section>
    <h1> Join the Library!!<h1>
            <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <div class="row">
                    <div class="small-8">
                        <div class="small-offset-4">
                            <%= f.label :name %>
                            <%= f.text_field :name %>

                            <%= f.label :username %>
                            <%= f.text_field :username %>


                            <%= f.label :email %>
                            <%= f.email_field :email %>


                            <%= f.label :password %>
                            <%= f.password_field :password %>


                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation %>

                            <%= f.submit "Join",class: "button large"%>
                        </div>
                    </div>
                </div>

            <% end %>
</section>
