<tr>
    <td> <%= book.id %></td>
    <td><%= book.title %></td>
    <td><%= book.category %></td>
    <td><%= book.author %></td>
    <td><%= book.quantity %></td>
    <td><%= book.publisher %><td>
</tr>
