<div class="row">
    <h1> Books In the Library</h1>
    <%= form_tag books_path, :method => 'get' do %>
            <%# <%= text_field_tag :search, params[:search] %1> %>
            <%# <%= submit_tag "Search", :name => nil %1> %>
            <p id="notice"><%= notice %></p>

            <p>
            Press <%= link_to 'here', search_books_path %> to search for books.
            </p>

            <table>
                <thead>
                    <tr>
                        <th>
                        <div class="small-4">
                        </th>
                    </tr>
                </thead>

                </h></p>
                <%# </div> %>
    <% end %>
    <% if current_user.nil? %>
                <table>
                    <thead>
                        <tr>
                            <th> id</th>
                            <th> Title </th>
                            <th> Category </th>
                            <th> Author</th>
                            <th> Quantity</th>
                            <th> Publisher</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render @books %>
                    </tbody>
                </table>
    <% elsif current_user.admin %>
        <ul class="top-bar">
            <li> <%= link_to "Add Book", new_book_path %> |
                <li> <%= link_to "Manage Books", bids_path %>
                <ul>
                <% end %>

                <table>
                    <thead>
                        <tr>
                            <th> id</th>
                            <th> Title </th>
                            <th> Category </th>
                            <th> Author</th>
                            <th> Quantity</th>
                            <th> Publisher</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render @books %>
                    </tbody>
                </table>
</div>

