<div class="top-bar">
    <div class="top-bar-left">
        <li><%=link_to image_tag("blogo.png", border: 0), {action: 'home', controller: 'static_pages'}, width:"20", height: "20"  %>
        <li><%= link_to "Home", root_path %></li>
        <li>.</li>
        <li> <%= link_to "About", about_path %></li>
        <li>.</li>
        <li> <%= link_to "Support", support_path %></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul>
            <% if logged_in %>
                <li> <%= link_to "Profile", current_user %></li>
                <li>.</li>
                <li><%= link_to "Edit info", edit_user_path(current_user) %>
                <li>.</li>
                <li><%= link_to "Books", books_url %>
                <li>.</li>
                <li><%= link_to "Log out", logout_path, method: :delete  %> </li>
                <% if current_user.admin? %>
                    <li><%= link_to "Users", index_path %><li>
                        <% end %>
                    <% else %>
                        <li> <%= link_to "Log In", login_path %><li>
                            <% end %>

        </ul>
    </div>
</div>
